@charset "UTF-8";

/*Configuração de múltiplas telas*/

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {


    html,
    body {
        background-image: linear-gradient(to bottom right, black, #3758b3);
    }

    main {
        padding: 200px 0px;
        width: 100vw;
        height: 100vh;
    }

    form{
        padding: 0px;
        height: 320px;
    }

    #predio {
        display: inline-block;
        width: 35%;
    }

    img{
        border-radius: 20px 0px 0px 20px;
        height: 320px;
    }

    #conteudo{
        width: 65%;
        padding: 10px;
        float: right;
        text-align: center;
    }

    #header {
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }

    h1 {
        display: block;
        padding-bottom: 10px;
    }

    p {
        display: inline;
        vertical-align: top;
        padding: 10px 10px;
        width: 50%;
        text-align: right;
    }

    .inputs{
        display: inline;
        padding: 10px 0px;
    }

}

/*Desktops*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    html,
    body {
        background-image: linear-gradient(to bottom right, black, #3758b3);
    }

    main {
        padding: 200px 0px;
        width: 100vw;
        height: 100vh;
    }

    form{
        padding: 0px;
        height: 320px;
    }

    #predio {
        width: 35%;
        float: right;
    }

    img{
        border-radius: 0px 20px 20px 0px;
        height: 320px;
    }

    #conteudo{
        width: 65%;
        padding: 10px;
        text-align: center;
    }

}

/*Telas grandes*/
@media screen and (min-width: 1200px) {
    html,
    body {
        background-image: linear-gradient(to bottom right, black, #3758b3);
    }

    main {
        padding: 200px 0px;
        width: 100vw;
        height: 100vh;
    }

    form{
        padding: 0px;
        height: 320px;
    }

    #predio {
        width: 35%;
        float: right;
    }

    img{
        border-radius: 0px 20px 20px 0px;
        height: 320px;
    }

    #conteudo{
        width: 65%;
        padding: 10px;
        text-align: center;
    }
}